.edit-article-body {
    min-width: 500px;
    max-width: 550px;
}

.reviewer-nb-option, .edit-article-body {
    font-family: 'Exo';
}

.reviewer-nb-select, .date-picker-input {
    margin-top: 11px;
}