.navItem {
    cursor: pointer;
    margin-right: 26px;
}

.navItem:hover {
    color: rgb(122, 120, 120);
}

.signUpBtn {
    border: 2px solid rgb(56, 56, 56);
    padding: 5px 12px 5px 12px;
    border-radius: 6px;
}

.signUpBtn:hover {
    border: 2px solid rgb(122, 120, 120);;
}